*{
margin:0px;
padding:0px;
}
img{border:0px}
html{
width:100%;
height:100%
}
body{
width:919px;
margin:0 auto;
}
.float{float:left}
#header{
display:block;
float:left;
}
.topnav{
width:534px;
float:left;
border-top:5px solid #E3E1D5;
padding:17px 0 0 148px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#0D0D0D
}
.topnav a{
color:#0D0D0D;
text-decoration:none;
}
.topnav a:visited{text-decoration:none}
.topnav a:hover{text-decoration:underline}
.topnav select{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#0D0D0D;
height:18px;
width:160px;
margin:0 42px 0 19px;
float:left;
}
.topnav img{
float:left;
margin:0 2px;
}
.topnav span{
display:block;
float:left;
margin:0 10px 0 0
}

#menu li{
display:inline;
list-style-type:none;
}
#menu img{
float:left;
margin:0 0 0 1px;
}
#content{
width:919px;
overflow:hidden;
float:left;
padding:0 0 7px 0;
}
#sidebar{
width:233px;
float:left;
padding:15px 0 0 4px
}
#navigation{
background-color:#92A117;
background-image:url(/resources/images/sidebar_bg.jpg);
background-position:top left;
background-repeat:no-repeat;
width:220px;
padding:12px 0 14px 13px;
font-family:Tahoma, sans-serif;
font-size:11px;
color:#0D0D0D;
border-bottom:1px solid #fff;
}
#navigation li{
list-style-type:none;
padding:0 0 2px 0;
line-height:28px;
}
#navigation a{
color:#0D0D0D;
text-transform:uppercase;
text-decoration:none;
font-weight:bold;
display:block;
width:179px;
line-height:28px;
background-image:url(../images/li_bg.jpg);
background-position:top left;
background-repeat:no-repeat;
padding:0 0 0 30px;
}
#cart{
height:38px;
line-height:16px;
margin:65px 0 0 0;
padding:9px 0 0 50px;
background-image:url(/resources/images/cart_bg.jpg);
background-position:top left;
background-repeat:no-repeat;
}
.categories{
border:1px solid #BBBBBB;
border-top:0px;
padding:25px 0 25px 18px;
margin:0 0 1px 0
}
.categories li{
list-style-type:none;
background-image:url(/resources/images/bullet.gif);
background-position:top left;
background-repeat:no-repeat;
padding:0 0 7px 25px;
line-height:17px;
height:18px;
/ height:17px;
display:block;
}
.categories a{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#4B4B4B;
text-decoration:none;
}
.categories a:visited{text-decoration:none}
.categories a:hover{text-decoration:underline}
.review{
border:1px solid #BBBBBB;
border-top:0px;
padding:28px 0 15px 18px;
font-family:Tahoma, sans-serif;
font-size:11px;
color:#565656;
}
.review a, .item a{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#4B4B4B;
text-decoration:underline;
font-weight:bold;
}
.review a:visited, .item a:visited{text-decoration:underline}
.review a:hover, .item a:hover{text-decoration:none}
.review p{
padding:10px 32px 13px 0;
}
.stars{
margin:0 0 0 30px;
}
#main{
width:682px;
float:left;
}
#inside{
padding:15px 0 0 17px;
float:left
}

.info{
font-family:Tahoma, sans-serif;
font-size:11px;
color:#565656;
padding:17px 0 36px 0;
overflow:hidden;
float:left;
}
.info img{
float:left;
margin:0 22px 0 0
}
.more{
display:block;
}
.info p{
width:470px;
float:left;
padding:0 0 12px 0
}
#items{
float:left;
}
.item{
width:213px;
border:1px solid #BBBBBB;
margin:10px 0 0 0;
float:left;
}
.item p{
display:block;
line-height:23px;
background-color:#F4F8EE;
padding:0 0 0 10px;
float:left;
width:149px;
}
.price{
display:block;
width:54px;
float:left;
background-color:#3792AE;
text-align:center;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
color:#FFFFFF;
font-weight:bold;
line-height:23px;
}
.center{
margin:10px 10px 0 10px;
}
#footer{
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#0D0D0D;
padding:0 0 25px 0
}
#footer ul{
padding:27px 0 13px 0
}
#footer li{
display:inline;
list-style-type:none;
}
#footer ul a{
color:#0D0D0D;
text-decoration:none;
margin:0 12px;
}
#footer ul a:visited{text-decoration:none}
#footer ul a:hover{text-decoration:underline}
.bft{
color:#3792AE;
text-decoration:underline
}
.bft:visited{text-decoration:underline}
.bft:hover{text-decoration:none}

.inner_copy{
border:0;
color:#fff;
float:right;
width:0.09%!important;
margin:-100px;
overflow:hidden;
line-height:0px;
padding:0px;
font-size:11px
}

#form-item-shoes_size ul {
    white-space:nowrap;
    padding: 0;
    margin: 0;
    font-family: Verdana;
    font-size: 0.7em;
}
#form-item-shoes_size ul li {
    display: inline;
    white-space:nowrap;
}
#form-item-shoes_size ul li label {
    vertical-align:middle;
    padding-right: 20px;
}
#form-item-shoes_size ul li input {
    margin-bottom: auto;
    vertical-align:middle;
}
#CheckboxesLine ul li:first-child label{
    padding-right: 0;
}

